<template>
  <div>
    <h2 class="text-2xl font-bold">수강생 정보</h2>
    <hr class="my-2 border dark:border-gray-700"/>
    <div class="table-temp">
    <TwDatatableClient
      :data="tableData"
      :column="data.column"
    >
      <template #row="{ column, data }">
        <template v-if="column.field === 'studentName'">
          {{ data.studentName }}
        </template>
        <template v-if="column.field === 'imgSrc'">
          {{ data.imgSrc }}
        </template>
        <template v-if="column.field === 'dateBirth'">
          {{ data.dateBirth }}
        </template>
        <template v-if="column.field === 'statusWhy'">
          {{ data.statusWhy }}
        </template>
        <template v-if="column.field === 'action'">
          <div class="flex gap-3 justify-center">
            <TwButton variant="primary" class="border border-gray-900" @click="getDetail(data.id)">
              상세보기
            </TwButton>
          </div>
        </template>
      </template>
      <template #empty>
        <div class="bg-white dark:bg-gray-800 text-center w-full">No Data</div>
      </template>
    </TwDatatableClient>
    </div>
  </div>
  <hr class="my-2 dark:border-gray-700"/>
  <div class="flex justify-center">
    <el-pagination background layout="prev, pager, next" :total="100" @current-change="handlePageChange"
    />
  </div>

</template>

<script setup lang="ts">
import {useStudentStore} from "~/stores/student";
import {storeToRefs} from 'pinia';

const store = useStudentStore();
const {getList} = store; // have all non reactiave stuff here
const {tableData} = storeToRefs(store); // have all reactive states here
import {ref} from "vue";

const {getPaging} = store;
const handlePageChange = (currentPage: number) => {
  const itemsPerPage = 10; // 페이지당 항목 갯수
  getPaging(currentPage, itemsPerPage)
    .then(() => {
      // 성공했을 때 필요한 처리 하기
    })
    .catch(() => {
      // 실패 했을 때 필요한 처리 하기
    });
}

await getList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});

import {DatatableColumn, DatatableData, TwButton, TwDatatableClient, TwDatatableServer,} from "vue3-tailwind";

const data = ref({
  column: [
    {
      label: "이름",
      field: "studentName",
      width: "400px",

    },
    {
      label: "이미지",
      field: "imgSrc",
      width: "400px",

    },
    {
      label: "주민등록번호",
      field: "dateBirth",
      width: "400px",

    },
    {
      label: "성별",
      field: "gender",
      width: "400px",

    },
    {
      label: "상태",
      field: "studentStatus",
      width: "400px",

    },
    {
      label: "상태 변경 사유",
      field: "statusWhy",
      width: "400px",

    },
    {
      label: "Action",
      field: "action",
      width: "400px",
      sortable: false,
    },

  ] as Array<DatatableColumn>,

});

const router = useRouter();
const getDetail = (id: string) => {
  router.push({
    path: `/personalinfo/${id}`,
  });
};


</script>


