@import url('../fonts/roboto.css');
@import url('./reset.css');
@import url('./sidebar.css');
@import url('./tooltip.css');
@import url('./skeleton.css');
@import url('./scrollbar.css');
@import url('./package.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*css에서 테이블 가리는 방법*/
div.hello>div>div:nth-child(1){
    display: none;
}

div.hi>div>div:nth-child(1){
    display: none;
}
.seungheeworld> div> div:nth-child(1){
  display: none;
}

div.hello>div>div:nth-child(3)>div{
    display: none;
}

.table-temp > div > div:nth-child(2) td {
  text-align: center;
}

.table-temp > div > div:nth-child(1){
  display: none;
}

.table-temp > div > div:nth-child(3){
  display: none;

}
