<script setup lang="ts">
useHead({
  title: "Dashboard",
});
import { ref } from 'vue'
import {storeToRefs} from 'pinia';
import {useTodosStore} from '~/stores/todos';
const value = ref(new Date())
const store = useTodosStore();
const {fetchTodos, delTodos} = store; // have all non reactiave stuff here
const {todos} = storeToRefs(store); // have all reactive states here
const selectedDate = ref<Date | null>(null);
const scheduleFormVisible = ref(false);
const scheduleForm = ref({ event: '' });

const showScheduleForm = (date: Date) => {
  selectedDate.value = date;
  scheduleFormVisible.value = true;
};

const addSchedule = () => {
  if (!selectedDate.value) return;

  console.log('일정:', selectedDate.value, '-', scheduleForm.value.event);
  // 여기에 일정을 저장하거나 다른 작업을 수행할 수 있습니다.
  // 예를 들어, 데이터베이스에 저장할 수 있습니다.
  // 이 예제에서는 콘솔에만 출력합니다.

  // 저장 후에는 폼을 닫습니다.
  scheduleFormVisible.value = false;
  // 폼을 초기화합니다.
  scheduleForm.value.event = '';
};
await fetchTodos().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});

await delTodos(5).then().catch();

definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})


</script>

<template>
  <div>
  <div>
    <h1 class="text-3xl font-bold">DashBoard</h1>
    <hr class="my-3 border dark:border-black-600"/>
    <!--    컬러 색상-->
    <!--     m가로 y세로-->

  </div>
  <div class="flex justify-between">
  <div class="hh hi bg-gray-200 w-1/2 m-4" style="height: 500px; color: black; font-size: 25px; text-align: center; border-radius: 20px;">

    <div class="flex justify-center m-4">
      <el-timeline style="width: 600px">
        <el-timeline-item timestamp="2024/4/29" placement="top">
          <el-card>
            <h4>요구사항 설계 시험 </h4>
            <p>2024-04-29 </p>
          </el-card>
        </el-timeline-item>
        <el-timeline-item timestamp="2024/5/1" placement="top">
          <el-card>
            <h4>요구사항 정의서 시험 </h4>
            <p>2024-05-01</p>
          </el-card>
        </el-timeline-item>
        <el-timeline-item timestamp="2024/5/10" placement="top">
          <el-card>
            <h4>개인 포트폴리오 시험 </h4>
            <p>2024-05-10</p>
          </el-card>
        </el-timeline-item>
      </el-timeline>
    </div>
  </div>
  <div class="  w-1/2 m-3 "style="color: black; font-size: 25px; text-align: center; border-radius: 20px; ">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
      </div>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="p-4">
          </th>
          <th scope="col" class="px-6 py-3">
            이름
          </th>
          <th scope="col" class="px-6 py-3">
            과정명
          </th>
          <th scope="col" class="px-6 py-3">
            관리
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="w-4 p-4">
            <div class="flex items-center">

            </div>
          </td>
          <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            <img class="w-10 h-10 rounded-full" src="/assets/images/teacher.png" alt="Jese image">
            <div class="ps-3">
              <div class="text-base font-semibold">김승희 강사님 </div>
              <div class="font-normal text-gray-500">seunghee111@gmail.com</div>
            </div>
          </th>
          <td class="px-6 py-4">
            Java 웹 앱 개발 양성자 A반
          </td>
          <td class="px-6 py-4">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> 정보 수정 </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Java 웹 앱 개발 양성자 A반</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm"style=""> 전체 수강 일  <el-progress
        :text-inside="true"
        :stroke-width="24"
        :percentage="80"
        status="success"
      /></p>

      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm"style=""> 전체 수강 일  <el-progress
        :text-inside="true"
        :stroke-width="24"
        :percentage="80"
        status="exception"
      /></p>
    </div>


  </div>
  </div>
  <div class="flex justify-between">
    <div class="hh hi bg-gray-300 w-1/2 m-4" style="height: 500px; color: black; font-size: 25px; text-align: center; border-radius: 20px;">
      출결관리
      <div>
        <el-button class="w-1/2 m-5" style="font-size: 15px; text-align: center;">
          <nuxt-link to="/attendance/list" >출결관리</nuxt-link>
        </el-button>
      </div>
    </div>
    <div class="bg-gray-300 w-1/2 m-4" style="color: black; font-size: 25px; text-align: center; border-radius: 20px;">
      <el-calendar v-model="selectedDate" @change="showScheduleForm" />
    </div>

    <el-dialog :visible.sync="scheduleFormVisible" title="일정 등록">
      <el-form :model="scheduleForm" label-width="80px">
        <el-form-item label="일정">
          <el-input v-model="scheduleForm.event" placeholder="일정을 입력하세요" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="addSchedule">등록</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

  </div>
  </div>
</template>



<style>
.demo-progress .el-progress--line {
  margin-bottom: 15px;
  max-width: 600px;
}

</style>
