<template>
  <div>
    <h1 class="text-3xl font-bold"> 훈련생 현황 </h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex m-1 p-1.5 ">
    </div>
  </div>
  <div class="relative inline-block text-right">
    <div>
      <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true" @click="toggleMenu">
        과정명 선택
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <!-- Dropdown menu -->
    <div v-if="isOpen" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1" role="none">
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Java 웹 앱 개발 a반</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">포토샵 반</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">auto cad반 </a>

      </div>
    </div>

  </div>
    <div class="hello">
      <TwModal backdrop="static" :full-height="false">
        <template #trigger>
          <TwButton  variant="secondary" style="margin: 5px"> 교육생 일괄 삭제 </TwButton>
        </template>
        <template #header>
          <div>훈련생 일괄 삭제</div>
        </template>
        <template #body>
          <div>
            훈련생 일괄 삭제 하시겠습니까?
          </div>
        </template>
        <template #footer>
          <div class="modal-button"> <TwButton variant="secondary">
            삭제
          </TwButton>
          </div>
          <div class="cancel-button">
            <TwButton variant="secondary">
              취소
            </TwButton>
          </div>

        </template>
      </TwModal>
      <TwModal backdrop="static" :full-height="false">
        <template #trigger>
          <TwButton  variant="secondary" style="margin: 5px"> 교육생 상태 일괄수정 </TwButton>
        </template>
        <template #header>
          <div>훈련생 일괄 삭제</div>
        </template>
        <template #body>
          <div>
            훈련생 일괄 수정 하시겠습니까?
          </div>
        </template>
        <template #footer>
          <div class="modal-button"> <TwButton variant="secondary">
            삭제
          </TwButton>
          </div>
          <div class="cancel-button">
            <TwButton variant="secondary">
              취소
            </TwButton>
          </div>

        </template>
      </TwModal>
    </div>


  <div class="studentlist">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class=" text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-3 py-2">
          선택
        </th>
        <th scope="col" class=" ">
          번호
        </th>
        <th scope="col" class="px-4 py-3">
          이미지
        </th>
        <th scope="col" class="px-4 py-3">
          id
        </th>
        <th scope="col" class="px-2 py-3">
          이름
        </th>
        <th scope="col" class="px-1 py-3">
          연락처
        </th>
        <th scope="col" class="px-1 py-3">
          주민등록번호
        </th>
        <th scope="col" class="px-5 py-3">
          상태
        </th>
        <th scope="col" class="px-10 py-3">
          사유 및 날짜
        </th>
        <th scope="col" class="  px-10 py-3">
          관리
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-4 py-3 font-semibold text-gray-900 dark:text-white">
          <div class="flex items-center mb-4">
            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
          </div>
        </td>
        <td class="px-2 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1">
          <img src="/images/lmspicture.jpg" class="w-17 md:w-20  ">
        </td>
        <td class="px-3 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1 py-3 font-semibold text-gray-900 dark:text-white">
          임인영
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            010-0000-0000
          </div>
        </td>
        <td class="px-5.5 py-3 font-semibold text-gray-900 dark:text-white">
          941208-1111111
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              <nuxt-link to="/personalinfo/studentid" >내정보</nuxt-link>
            </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              취업관리
            </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              상담관리
            </el-button>
          </div>
        </td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-4 py-3 font-semibold text-gray-900 dark:text-white">
          <div class="flex items-center mb-4">
            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
          </div>
        </td>
        <td class="px-2 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1">
          <img src="/images/lmspicture.jpg" class="w-17 md:w-20  ">
        </td>
        <td class="px-3 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1 py-3 font-semibold text-gray-900 dark:text-white">
          임인영
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            010-0000-0000
          </div>
        </td>
        <td class="px-1 py-3 font-semibold text-gray-900 dark:text-white">
          941208-1111111
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              <nuxt-link to="/personalinfo/studentid" >내정보</nuxt-link>
            </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              취업관리
            </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              상담관리
            </el-button>
          </div>
        </td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-4 py-3 font-semibold text-gray-900 dark:text-white">
          <div class="flex items-center mb-4">
            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
          </div>
        </td>
        <td class="px-2 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1.2">
          <img src="/images/lmspicture.jpg" class="w-17 md:w-20  ">
        </td>
        <td class="px-3 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1 py-3 font-semibold text-gray-900 dark:text-white">
          임인영
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            010-0000-0000
          </div>
        </td>
        <td class="px-1 py-3 font-semibold text-gray-900 dark:text-white">
          941208-1111111
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              <nuxt-link to="/personalinfo/studentid" >내정보</nuxt-link>
            </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              취업관리
            </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              상담관리
            </el-button>
          </div>
        </td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-4 py-3 font-semibold text-gray-900 dark:text-white">
          <div class="flex items-center mb-4">
            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
          </div>
        </td>
        <td class="px-2 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1.2">
          <img src="/images/lmspicture.jpg" class="w-17 md:w-20  ">
        </td>
        <td class="px-3 py-3 font-semibold text-gray-900 dark:text-white">

        </td>
        <td class="px-1 py-3 font-semibold text-gray-900 dark:text-white">
          임인영
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            010-0000-0000
          </div>
        </td>
        <td class="px-1 py-3 font-semibold text-gray-900 dark:text-white">
          941208-1111111
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="">
          <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"></a>
        </td>
        <td class="px-1 py-3">
          <div class="flex items-center">
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
            내 정보
          </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              취업관리
            </el-button>
            <el-button class="custom-button" variant="secondary"style="margin: 5px">
              상담관리
            </el-button>
          </div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  </div>

</template>
<style>
.custom-button{
  width: 70px;
  height: 45px;
}
.seunghee{
 margin-right: 30px;
}

.cancel-button{
  margin: 10px;
}

.modify-button{

}
.hello {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.studentlist{
  padding: 5px;
}


</style>
<script setup lang="ts">
import {TwButton, TwModal} from "vue3-tailwind";
const isOpen = ref(false);


const toggleMenu = () => {
  isOpen.value = !isOpen.value;
};



</script>
