<!--출결관리 리스트 -->
<template>
  <h2 class="text-2xl font-bold">출결 목록</h2>
  <hr class="my-2 border dark:border-gray-700"/>
    <div class="table-temp">
      <TwDatatableClient
        :data="attendanceData"
        :column="data.column">
        <template #row="{ column, data }">
          <template v-if="column.field === 'studentName'">
            {{ data.studentName }}
          </template>
          <template v-if="column.field === 'category'">
            {{ data.category }}
          </template>
          <template v-if="column.field === 'description'">
            {{ data.description }}
          </template>
          <template v-if="column.field === 'action'">

            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border border-gray-900">
                상세보기
              </TwButton>
            </div>
          </template>
          <template v-if="column.field === 'correct'">

            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border border-gray-900">
                응시확인
              </TwButton>
            </div>
          </template>
        </template>

      </TwDatatableClient>

    </div>


</template>
<script setup lang="ts">
import {DatatableColumn, DatatableData, TwButton, TwDatatableClient, TwDatatableServer, TwModal} from "vue3-tailwind";
import {useAttendanceStore} from "~/stores/attendance";
import {storeToRefs} from "pinia";
const store = useAttendanceStore();
const {attendanceData} = store;
const {getAttendanceList}  = store;

await getAttendanceList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});


const data = ref({
  column: [
    {
      label: "학생명",
      field: "studentName",
      width: "400px",

    },
    {
      label: "조퇴",
      field: "studentOut",
      width: "400px",

    },
    {
      label: "지각",
      field: "studentLate",
      width: "400px",

    },
    {
      label: "결석",
      field: "studentAbsence",
      width: "400px",

    },
    {
      label: "병결",
      field: "studentSick",
      width: "400px",

    },

  ] as Array<DatatableColumn>,
  data: [] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: false,

  },
});

</script>
